:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-white-color: #ffffff;
  --black-color: #000000;
  --footer-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--accent-white-color);
  color: var(--primary-text-color);
}
h1,
h2,
h3,
h4 {
  color: var(--title-text-color);
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.body-container {
  width: 1600px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 200px;
  margin-right: 200px;
}
/* верхняя строка */
.header {
  height: 80px;
  width: 1600px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  
}
.header .logo {
  margin-right: 90px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.studio-top {
  color: var(--black-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-nav {
  display: flex;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.adress-top {
  display: flex;
}
.adress-top .item + .item {
  margin-left: 50px;
}
.top-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
}
.mail {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.mail:hover,
.mail:focus,
.mail:active,
.link:hover,
.link:focus,
.link:active {
  color: var(--accent-color);
}
main {
  width: 1600px;
  margin: 0;
}
/* баннер */
.hero {
  height: 600px;
  width: 1600px;
  background-color: var(--footer-bg-color);
  text-align: center;
  padding: 200px 450px 200px 450px;
  margin-bottom: 94px;
  margin-left: 0;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--accent-white-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 30px;
}
.hero .button {
  height: 50px;
  width: 200px;
}
/* особенности */
.peculiarities {
  margin-bottom: 94px;
}
.peculiarities-list {
  display: flex;
  padding: auto;
  }
.peculiarities-list .item + .item {
  margin-left: 30px;
}
.peculiarities-list .item {
  width: 270px;
}

.peculiarities-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.peculiarities-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}
/* занятие */

.title {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 50px;
}
.employment {
  margin-bottom: 94px;
}
.emp-list {
  display: flex;
}
.employment .emp-item + .emp-item {
margin-left: 30px;
}
/* команда */
.team {
  background-color: var(--section-bg-color);
  width: 1600px;
  height: 650px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list {
  display: flex;
  margin-right: 0;
  padding-right: 0;
  
}
.team-list .item + .item {
  margin-left: 30px;
}
.team-list .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
/* футер */
.footer {
  height: 252px;
  width: 1600px;
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
/* .foot {
  height: 80px;
  width: 230px;
  
} */
.foot-item:not(:last-child) {
  margin-bottom: 10px;
}
.footer .logo {
  padding-bottom: 20px;
}
.studio-foot {
  color: var(--accent-white-color);
}
.address-foot {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17px;
  text-decoration: none;
  color: var(--footer-text-color);
}
.address-foot:hover,
.address-foot:focus,
.address-foot:active {
  color: var(--accent-color);
}
.address-post {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  text-decoration: none;
  color: var(--accent-white-color);
}
.address-post:hover,
.address-post:focus,
.address-post:active {
  color: var(--accent-color);
}
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}
.filters .item {
  height: 38px;
  padding: 6 22 6 22;
}
.filters .item:not(last-child) {
  margin-right:8px ;
}
.portfolio {
  margin-top: 94px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  border: tomato;
}
.cards .item {
  flex-basis: calc((100% - 60px )/ 3);
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.18;
}
.button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}
.button.primary:hover,
.button.primary:focus,
.button.primary:active {
  background: var(--accent-color);
  color: var(--accent-white-color);
}

.button.primary {
  background: var(--section-bg-color);
  color: var(--title-text-color);
}
.button.secondary {
  background: var(--accent-color);
  color: var(--accent-white-color);
}
